@import "../../style/base.sass"

.form
    position: relative
    display: flex
    width: 100%
    justify-content: center
    &__box
        display: inline
        width: 60%
        background: $color-light-white
        border: .2rem solid $color-dark-blue
        border-radius: 1.5rem
    &__btn
        background: $color-dark-white
